@model int
@{
    ViewData["Title"] = "Error";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Escuela de Manejo</title>
    <link href="~/libs/material-icons/css/materialdesignicons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/vendor.addons.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/theme.css">

    <link href="~/libs/iziToast/iziToast.min.css" rel="stylesheet" />
</head>

<body>

    <div class="error_page error_3">
        <div class="container inner-wrapper">
            <h1 class="error-heading">@Model</h1>
            <p class="error-message">Ups, ocurrió un error, contacta con soporte.</p>
            <a href="#" class="btn btn-primary">Regresar al inicio</a>
        </div>
    </div>
</body>
<</html>