@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Escuela de Manejo</title>
    <link href="~/libs/material-icons/css/materialdesignicons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/vendor.addons.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/theme.css">
</head>

<body>
    <div class="authentication-theme auth-style_2">
        <div class="row inner-wrapper">
            <div class="col-md-7 banner-section">
                <div class="auth_footer">
                    <p class="text-muted text-center">© Ripple Inc 2019</p>
                </div>
            </div>
            <div class="col-md-5 form-section">
                <div class="logo-section">
                    <a href="../../index.html" class="logo">
                        <img src="../../../assets/images/logo.svg" alt="logo">
                    </a>
                </div>
                <form action="#">
                    <div class="form-group input-rounded">
                        <input type="text" class="form-control"
                               placeholder="Usuario">
                    </div>
                    <div class="form-group input-rounded">
                        <input type="password" class="form-control"
                               placeholder="Contraseña">
                    </div>
                    <div class="form-inline">
                        
                    </div><button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                </form>
                
            </div>
        </div>
    </div>



    <script src="~/js/core.js"></script>
    <script src="~/js/vendor.addons.js"></script>
    <script src="~/js/script.js"></script>
</body>

</html>



